@import url("https://fonts.google.com/specimen/Ubuntu?query=ubuntu#standard-styles");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.bg {
  background: url("./img/bg.jfif") no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 65px;
  color: #fff;
}

.welcome-text {
  display: none;
  font-size: 65px;
  color: #fff;
}
